/*------------------------------------*\
    INPUT TEXT
    Temporary until we define form fields more fully
    Required for styling of search field
\*------------------------------------*/

input[type="text"] {
    border: 1px solid $color__border--base;
    font-size: 0.85rem;
    min-height: 42px;
    padding: 6px 12px;

    &:focus {
        background-color: $color__input--focus-background;
        outline: 2px solid $color__brand--secondary;
    }
}
