/*------------------------------------*\
    #ATTRIBUTION TEXT
\*------------------------------------*/




.attribution-text {
    border-left: 4px solid $color__body;
    font-size: 14px;
    line-height: 21px;
    margin: 21px 0 35px;
    padding-left: 10px;
}
