.hero-header {
    background: $color__white;
    color: $color__blue--darker;
    padding-bottom: 28px;
    position: relative;

    &:after {
        bottom: -7px;
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0));
        height: 7px;
    }

    &__content {
        position: relative;
    }

    &__title {
        border-left: 4px solid $color__brand--primary;
        margin: 14px 0 28px;
        padding-left: 20px;
    }

    &__image {
        display: block;
        justify-self: center;
        margin: 14px auto;
        max-width: 85%;
        max-height: 280px;
    }

    h1 {
        font-weight: 100;
        margin: 0;
    }

    &__tagline {
        display: block;
        font-weight: 700;
        line-height: 1.4em;
        margin-top: 7px;
        margin-bottom: 0;
    }
}

.hero-header--teal {
    background-color: #00a4b4;

    &__tagline {
        color: $color__blue--darker;
    }

    &__title {
        border-left: 4px solid $color__blue--darker;
    }
}

@include media-query(small) {
    .hero-header__title h1 {
        font-size: 42px;
        line-height: 1;
    }

    .hero-header__tagline {
        margin-top: 14px;
        font-size: #{(24/19)}em;
    }
}

@include media-query(medium) {
    .hero-header__image {
        align-self: center;
        margin-left: 0;
        margin-right: 0;
    }

    .hero-header__content {
        grid-template-columns: 2fr 1fr;
    }

    .hero-header__title {
        margin-top: 28px;
        margin-bottom: 42px;
        position: relative;
        z-index: 5000;
    }

    .hero-header__tagline {
        margin-top: 14px;
        font-size: 24px;
    }
}

@include media-query(large) {
    .hero-header {
        padding-bottom: 56px;
    }

    .hero-header__title {
        margin-top: 56px;
    }
}

// ie11- do not support @supports :rolleyes: so we'll need to override all of these in the @supports (display:grid) section
// @supports not (display: grid) {
    @include media-query(medium) {
        .hero-header__content {
            overflow: hidden;
        }

        .hero-header__title {
            width: 66%;
            float: left;
        }

        .hero-header__image {
            width: 33%;
        }

        #body-wrapper {
            clear: both;
        }
    }
//}

@supports (display: grid) {
    .hero-header__content {
       display: grid;
    }

    @include media-query(medium) {
        .hero-header__content {
            grid-template-columns: 2fr 1fr;
        }

        .hero-header__title {
            width: 100%;
            float: none;
        }

        .hero-header__image {
            justify-self: end;
            width: 100%;
        }

        #body-wrapper {
            clear: both;
        }
    }

    @include media-query(xlarge) {
        .hero-header__content {
            grid-template-columns: 8fr 6fr;
        }
    }
}
