<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.gtm_code }}"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<header class="site-header">
    <div class="wrapper">
        <div class="branding">
            <a class="branding__logo-link" href="/">
                <img class="branding__logo" src="/assets/images/logos/digital-scotland.svg" alt="Digital Scotland">
            </a>

            <div class="branding__title">
                Pattern library
            </div>

            <div class="branding__version">
                Version 0.1&alpha;
            </div>
        </div>
    </div>
</header>
