<header class="site-header  site-header--gradient" role="banner">
    <div class="wrapper">
        <div class="site-header__content">
            <div class="site-header__branding  site-branding">
                <a data-navigation="logo" class="site-branding__logo  site-branding__link" href="/">
                    <img class="site-branding__logo-image" src="/assets/patternlib/images/logos/digital-scotland.svg" alt="Digital Scotland" />
                </a>

                <div class="site-branding__title">
                    <a data-navigation="title" class="site-branding__link" href="/">Pattern library</a>
                </div>

                <strong class="tag">Alpha</strong>
            </div>

            <div class="site-branding__version">
                Version 0.1&alpha;
            </div>
        </div>
    </div>
</header>
