
<nav role="navigation" aria-label="Sections" class="side-navigation">
    {% unless navitems %}
        {% assign navitems = page.navitems %}
    {% endunless %}

    {% assign indexed = site.pages | where:"category", navitems | sort: 'index', 'first' | sort: 'title', 'first' %}

    <input type="checkbox" class="visually-hidden" id="show-side-navigation" />
    <label class="side-navigation__expand" for="show-side-navigation">Pages in this section</label>

    <ul class="side-navigation__list  side-navigation__root">
        {% for item in indexed %}

        <li class="side-navigation__item">
            {% if item.title == page.title %}
            <span class="side-navigation__link  current">
                {{ item.title }}
            </span>
            {% else %}
            <a class="side-navigation__link" href="{{ item.url }}">
                {{ item.title }}
            </a>
            {% endif %}
        </li>

        {% endfor %}
    </ul>
</nav>

<script src="/patterns/side-navigation/script.js"></script>
