<ul id="side-navigation" class="ds_side-navigation__list">
    {% for item in include.items %}
        {% unless item.draft %}
            {% unless item.deprecated %}
                {% assign pageforitem = site.pages | where: 'url', page.url  | first %}
                {% assign parentpage = site.pages | where: 'thispage', pageforitem.parent  | first %}

                <li class="ds_side-navigation__item">
                    {% if item.url == page.url %}
                        <span class="ds_side-navigation__link  ds_current">
                            {{ item.title }}
                        </span>
                        {% else %}
                        <a class="ds_side-navigation__link" href="{{ item.url }}">
                            {{ item.title }}
                        </a>
                    {% endif %}

                    {% if
                        item.items and
                        page.url contains item.url
                    %}
                        {% include component-side-navigation-items.html items=item.items %}
                    {% endif %}
                </li>
            {% endunless %}
        {% endunless %}
    {% endfor %}
</ul>
