{% if page.includeInPrevNext %}
    {% assign array = "" | split: ", " %}
    {% assign parentCatPage = page | concat: array %}
{% else %}
    {% assign parentCatPage = site.pages | where: "thispage", page.parent %}
{% endif %}

{% assign hasSequentialNav = parentCatPage[0].childrenHavePrevNext %}

{% if hasSequentialNav %}

    {% assign indexed = site.pages | where:"category", parentCatPage[0].navitems | where_exp: "item", "item.hidden != true" | sort: 'index', 'first' | sort: 'title', 'first' %}
    {% assign indexed = parentCatPage | concat: indexed %}

    {% for item in indexed %}
        {% if item.url == page.url %}
            {% assign pageIndex = forloop.index %}
        {% endif %}
    {% endfor %}

    {% for item in indexed %}
        {% assign nextIndex = pageIndex | plus: 1 %}
        {% assign prevIndex = pageIndex | plus: -1 %}

        {% if forloop.index == nextIndex %}
            {% assign nextItem = item %}
        {% endif %}

        {% if forloop.index == prevIndex %}
            {% assign prevItem = item %}
        {% endif %}
    {% endfor %}

    <nav class="ds_sequential-nav">
        {% if prevItem %}
        <div class="ds_sequential-nav__item  ds_sequential-nav__item--prev">
            <a data-navigation="sequential-previous" title="Previous section" href="{{prevItem.url}}" class="ds_sequential-nav__button  ds_sequential-nav__button--left">
                <span class="ds_sequential-nav__text" data-label="previous">
                    {{prevItem.title}}
                </span>
            </a>
        </div>
        {% endif %}

        {% if nextItem %}
        <div class="ds_sequential-nav__item  ds_sequential-nav__item--next">
            <a data-navigation="sequential-next" title="Next section" href="{{nextItem.url}}" class="ds_sequential-nav__button  ds_sequential-nav__button--right">
                <span class="ds_sequential-nav__text" data-label="next">
                    {{nextItem.title}}
                </span>
            </a>
        </div>
        {% endif %}
    </nav>

{% endif %}
