{% assign flattenedNavItems = "" | split: ',' %}

{% assign flattenedNavItems = flattenedNavItems | push: sectionData %}

{% for item in sectionData.items %}
    {% assign flattenedNavItems = flattenedNavItems | push: item %}
    {% if item.items %}
        {% for item in item.items %}
            {% assign flattenedNavItems = flattenedNavItems | push: item %}
        {% endfor %}
    {% endif %}
{% endfor %}

{% for item in flattenedNavItems %}
    {% unless item.draft %}
        {% assign currentFound = false %}

        {% if item.url == page.url %}
            {% assign current = item %}
            {% assign currentFound = true %}
        {% endif %}

        {% if current %}
            {% unless currentFound %}
                {% unless nextItem %}
                    {% assign nextItem = item %}
                {% endunless %}
            {% endunless %}
        {% else %}
            {% assign prevItem = item %}
        {% endif %}
    {% endunless %}
{% endfor %}

<nav class="ds_sequential-nav">
    {% if prevItem %}
    <div class="ds_sequential-nav__item  ds_sequential-nav__item--prev">
        <a title="Previous section" href="{{prevItem.url}}" class="ds_sequential-nav__button  ds_sequential-nav__button--left">
            <span class="ds_sequential-nav__text" data-label="previous">
                {{prevItem.title}}
            </span>
        </a>
    </div>
    {% endif %}

    {% if nextItem %}
    <div class="ds_sequential-nav__item  ds_sequential-nav__item--next">
        <a title="Next section" href="{{nextItem.url}}" class="ds_sequential-nav__button  ds_sequential-nav__button--right">
            <span class="ds_sequential-nav__text" data-label="next">
                {{nextItem.title}}
            </span>
        </a>
    </div>
    {% endif %}
</nav>
