<div id="cookie-notice" class="ds_notification  js-initial-cookie-content  fully-hidden" data-module="ds-notification">
    <div class="ds_wrapper">
        <div class="ds_notification__content">
            <div class="ds_notification__text">
                <p>We use cookies to make the site simpler.</p>
            </div>

            <div class="ds_notification__actions">
                <button class="ds_button  js-accept-cookies" data-banner="banner-cookie-accept">Accept cookies</button>
                <a href="/cookies/" class="ds_button  ds_button--secondary" data-banner="banner-cookie-settings">Cookie settings</a>
            </div>
        </div>
    </div>
</div>

<div id="cookie-confirm" class="ds_notification  ds_notification--positive  ds_reversed  js-confirm-cookie-content  fully-hidden" data-module="ds-notification">
    <div class="ds_wrapper">
        <div class="ds_notification__content">
            <div class="ds_notification__text">
                <p>Your cookie settings have been saved.</p>
            </div>
        </div>
    </div>
</div>
