<div id="cookie-notice" class="ds_notification  js-initial-cookie-content  fully-hidden">
    <div class="ds_wrapper">
        <div class="ds_notification__content">
            <div class="ds_notification__text">
                <p>We use cookies to make the site simpler.</p>
            </div>

            <div class="ds_notification__actions">
                <button class="ds_button  js-accept-cookies">Accept cookies</button>
                <a href="/cookies/" class="ds_button  ds_button--secondary">Cookie settings</a>
            </div>
        </div>
    </div>
</div>

<div id="cookie-confirm" class="ds_notification  ds_notification--positive  js-confirm-cookie-content  fully-hidden">
    <div class="ds_wrapper">
        <div class="ds_notification__content">
            <div class="ds_notification__text">
                <p>Your cookie settings have been saved. <a href="/cookies/">Turn cookies on or off</a></p>
            </div>
        </div>
    </div>
</div>
