<div id="cookie-notice" class="ds_notification  ds_notification--light  js-initial-cookie-content">
    <div class="ds_wrapper">
        <div class="ds_notification__content">
            <div class="ds_notification__text">
                <p>We use cookies to make the site simpler.</p>
            </div>

            <div class="ds_notification__actions">
                <button class="ds_button  js-accept-cookies">Accept cookies</button>
                <a href="#" class="ds_button  ds_button--secondary">Cookie settings</a>
            </div>
        </div>
    </div>
</div>
