{% comment %}
params:

name: Name of the example to be included. Usage example: use a name of "fabulous" to include an example derived from "example.fabulous.md"
caption: Optional caption placed above the example
no-demo: Hides the demo iframe if set, for cases where there is no visual component (e.g. schema.org markup)
type: String to be shown in the title of the sample code expandable, e.g. "Sample JSON-LD" (defaults to HTML if not specified)
{% endcomment %}

<figure class="example  overflow--large--2 overflow--xlarge--2">

    {% if include.caption %}
        <figcaption class="example__caption">
            {{include.caption}}
        </figcaption>
    {% endif %}

    <div class="example__content">
        {% assign indexed = site.pages | where:"parent", page.thispage | sort: 'index', 'first' %}
        {% assign filename = 'example.' | append: include.name | append: '.md' %}
        {% assign devnotesfilename = 'example.' | append: include.name | append: '.notes.md' %}
        {% for item in indexed %}
            {% if item.name == filename %}
                {% if item.illustration %}
                    <img class="example__illustration" alt="" src="/{{item.illustration}}">
                {% endif %}
            {% endif %}
        {% endfor %}

        {% unless include.no-demo %}
        <div class="example__demo">
            <a class="example__link" href="example.{{include.name}}.html" target="_blank">Open this example in a new window</a>

            <script>
                function resizeIframe(obj) {
                    obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
                }
            </script>

            <iframe
                style="min-height: {{item.minheight}}; max-height: {{item.maxheight}}"
                data-style="{{style}}"
                src="example.{{include.name}}.html"
                class="example__iframe"
                onload="resizeIframe(this)">
            </iframe>
        </div>
        {% endunless %}

        <div class="example__accordion  ds_accordion"  data-module="ds-accordion">
            {% for item in indexed %}
                {% if item.name == filename %}

                {% if include.type %}
                    {% assign type = include.type %}
                {% else %}
                    {% assign type = 'HTML' %}
                {% endif %}

                {% unless include.no-code %}
                <div class="ds_accordion-item  {% if include.html-expanded %}ds_accordion-item--open{% endif %}">
                    <input type="checkbox" {% if include.html-expanded %}checked{% endif %} class="visually-hidden  ds_accordion-item__control" id="panel-{{include.name}}-1" aria-labelledby="panel-{{include.name}}-1-heading" />
                    <div class="ds_accordion-item__header">
                        <h3 id="panel-{{include.name}}-1-heading" class="ds_accordion-item__title">
                            Sample {{type}}
                        </h3>
                        <span class="ds_accordion-item__indicator"></span>
                        <label class="ds_accordion-item__label" for="panel-{{include.name}}-1"><span class="visually-hidden">Show this section</span></label>
                    </div>
                    <div class="ds_accordion-item__body  example__accordion-body--code">
{% highlight html %}
{{item.content}}
{% endhighlight %}
                    </div>
                </div>
                {% endunless %}
                {% endif %}
            {% endfor %}

            {% for item in indexed %}
                {% if item.name == devnotesfilename %}
                    <div class="ds_accordion-item">
                        <input type="checkbox" class="visually-hidden  ds_accordion-item__control" id="panel-{{include.name}}-2" aria-labelledby="panel-{{include.name}}-2-heading" />
                        <div class="ds_accordion-item__header">
                            <h3 id="panel-{{include.name}}-2-heading" class="ds_accordion-item__title">
                                Developer notes
                            </h3>
                            <span class="ds_accordion-item__indicator"></span>
                            <label class="ds_accordion-item__label" for="panel-{{include.name}}-2"><span class="visually-hidden">Show this section</span></label>
                        </div>
                        <div class="ds_accordion-item__body">
                            {{item.content}}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</figure>
