<head xml:lang="en">
    <meta charset="UTF-8">
    <title>{% if page.title %}{{ page.title }} – Digital Scotland Design System{% else %}{{ site.title }}{% endif %}</title>

    <meta name="description" content="{{ site.description }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,700&display=swap" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="/assets/css/main.css?{{site.time | date: '%s'}}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#0065bd">
    <meta name="theme-color" content="#ffffff">

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->
    <script src="/assets/scripts/polyfills/svgxuse.js"></script>

    <!--Google Google Search Console-->
    <meta name="google-site-verification" content="8573_cJ_2yHLOp_X1lSUnN_H1ic44M6f7GBUObm-5_A" />

    <!-- Google Tag Manager -->
    <!-- Browsers with ES module support load this file -->
    <script type="module" src="/assets/scripts/dist/gtm.js?{{site.time | date: '%s'}}"></script>
    <!-- Older browsers load this file -->
    <!-- (and module-supporting browsers know *not* to load this file) -->
    <script nomodule src="/assets/scripts/dist/gtm.es5.js?{{site.time | date: '%s'}}"></script>
    <!-- End Google Tag Manager -->

    {% if page.hidden %}
        <meta name="robots" content="noindex" />
    {% endif %}

    <script>
        var htmlClass = document.documentElement.getAttribute('class') || '';
        document.documentElement.setAttribute('class', (htmlClass ? htmlClass + ' ' : '') + 'js-enabled');
    </script>
</head>
