<!DOCTYPE html>
<head xml:lang="en">
    <meta charset="UTF-8">
    <title>{% if page.title %}{{ page.title }} – Digital Scotland Pattern Library{% else %}{{ site.title }}{% endif %}</title>

    <meta name="description" content="{{ site.description }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,700&display=swap" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="/assets/css/main.css?{{site.time | date: '%s'}}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->
    <script src="/assets/scripts/polyfills/svgxuse.js"></script>


    <!--Google Google Search Console-->
    <meta name="google-site-verification" content="8573_cJ_2yHLOp_X1lSUnN_H1ic44M6f7GBUObm-5_A" />
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{ site.gtm_code }}');</script>
    <!-- End Google Tag Manager -->

    <script>
        document.documentElement.classList.add('js-enabled');
    </script>
</head>
