<meta property="og:url" content="{{site.url}}{{page.url}}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{page.title}}" />
<meta property="og:description" content="{{page.summary}}" />
<meta property="og:image" content="{{site.url}}/assets/images/digital-scotland-opengraph.png" />
<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:domain" content="" />
<meta property="twitter:url" content="{{site.url}}{{page.url}}" />
<meta name="twitter:title" content="{{page.title}}" />
<meta name="twitter:description" content="{{page.summary}}" />
<meta name="twitter:image" content="{{site.url}}/assets/images/digital-scotland-opengraph.png" />
