<ul class="ds_side-navigation__list {% if include.root %}ds_side-navigation__list--root{% endif %}">
    {% for item in include.sidebar %}
        {% assign itempages = site.pages | where:"thispage", item.page %}
        {% assign itempage = itempages[0] %}
        <li class="ds_side-navigation__item  {% if item.sidebar %}ds_side-navigation__item--has-children  ds_side-navigation__item--has-children--expanded{% endif %}">
            {% if itempage.title == page.title %}
            <span class="ds_side-navigation__link  ds_current">
                {{ itempage.title }}
            </span>
            {% else %}
            <a data-navigation="sidenav-{{forloop.index}}" class="ds_side-navigation__link" href="{{ itempage.url }}">
                {{ itempage.title }}
            </a>
            {% endif %}

            {% if item.sidebar %}
            {% include subcomponent-nested-navigation.html sidebar = item.sidebar %}
            {% endif %}
        </li>
    {% endfor %}
</ul>
