/*------------------------------------*\
    CATEGORY ITEM
    Navigation elements for different levels of category navigation. Includes classes for layout of these elements in a list.
\*------------------------------------*/

$category-item__border-color: $color__link !default;
$category-item__border-color--hover: $color__link--hover !default;




.#{$pl-prefix}category-item {

    &__title {
        font-size: $large-size;
        line-height: 21px;
        margin: 0 0 14px;
    }

    &__summary {
        font-size: $small-size;
        color: $color__body;
        line-height: 21px;
        margin: 0;
    }

    &__link {
        @include blocklink('.#{$pl-prefix}category-item__title');

        border-left: 1px solid mix($category-item__border-color, $color__grey--lighter, 30%);
        padding: 7px 15px;
        text-decoration: none;
        transition: background-color $transition-out-time, border-color $transition-out-time;
        width: 100%;

        &:hover {
            border-color: $category-item__border-color--hover;
        }

        :last-child {
            margin-bottom: 0;
        }
    }

    &--highlight {
        .#{$pl-prefix}category-item__link {
            border-color: $category-item__border-color;
            border-left-width: 2px;
        }
    }

    &--no-border {
        .#{$pl-prefix}category-item__link {
            border-left: 0;
            padding-left: 0;
        }
    }
}
