@function calcOverflow ($overflowColumns, $totalColumns, $containerWidth, $columnGap) {
    $result: (($containerWidth + $columnGap) * $overflowColumns) / $totalColumns;

    @return $result;
}

$columnGap: 32;
$columnCount: 12;

@include media-query(medium) {
    $containerWidth: 768;

    .overflow--medium--1 {
        margin-right: calcOverflow(1, $columnCount, $containerWidth, $columnGap) * -1px;
    }

    .overflow--medium--2 {
        margin-right: calcOverflow(2, $columnCount, $containerWidth, $columnGap) * -1px;
    }

    .overflow--medium--3 {
        margin-right: calcOverflow(3, $columnCount, $containerWidth, $columnGap) * -1px;
    }

    .overflow--medium--4 {
        margin-right: calcOverflow(4, $columnCount, $containerWidth, $columnGap) * -1px;
    }
}

@include media-query(large) {
    $containerWidth: 928;

    .overflow--large--1 {
        margin-right: calcOverflow(1, $columnCount, $containerWidth, $columnGap) * -1px;
    }

    .overflow--large--2 {
        margin-right: calcOverflow(2, $columnCount, $containerWidth, $columnGap) * -1px;
    }

    .overflow--large--3 {
        margin-right: calcOverflow(3, $columnCount, $containerWidth, $columnGap) * -1px;
    }

    .overflow--large--4 {
        margin-right: calcOverflow(4, $columnCount, $containerWidth, $columnGap) * -1px;
    }
}

@include media-query(xlarge) {
    $containerWidth: 1120;

    .overflow--xlarge--1 {
        margin-right: calcOverflow(1, $columnCount, $containerWidth, $columnGap) * -1px;
    }

    .overflow--xlarge--2 {
        margin-right: calcOverflow(2, $columnCount, $containerWidth, $columnGap) * -1px;
    }

    .overflow--xlarge--3 {
        margin-right: calcOverflow(3, $columnCount, $containerWidth, $columnGap) * -1px;
    }

    .overflow--xlarge--4 {
        margin-right: calcOverflow(4, $columnCount, $containerWidth, $columnGap) * -1px;
    }
}
