/*------------------------------------*\
    LINKS
\*------------------------------------*/

a,
.link {
    color: $color__link;
    text-decoration: underline;
    transition: color $transition-out-time, background-color $transition-out-time;

    &:hover {
        color: $color__link--hover;
        transition-duration: $transition-in-time;
    }

    &:active {
        background-color: $color__blocklink-bg--active;
        color: $color__link--active;
        outline: 3px solid $color__blocklink-bg--active;
        transition-duration: 0s;
    }

    &:focus {
        color: $color__link--focus;
        transition-duration: 0s;
    }
}

.link {
    background: transparent;
    border: 0;
    padding: 0;
}

a[disabled] {
    pointer-events: none;
}

// no underline on header links
h1, h2, h3, h4 {
    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

/**
 * BLOCKLINK
 * to enforce consistency on block-style links (search results, category items, etc) include this mixin
 */
@mixin blocklink($linklike-selector: '.linklike') {
    background-color: $color__white;
    display: block;
    transition: background-color $transition-out-time;

    &:hover {
        background-color: $color__blocklink-bg--hover;
        transition-duration: $transition-in-time;
    }

    &:focus {
        background-color: $color__blocklink-bg--hover;
        transition-duration: $transition-in-time;
        outline: 0;
    }

    &:active {
        background-color: $color__blocklink-bg--active;
        outline: initial;
        transition-duration: 0s;
    }

    &.current {
        background-color: $color__blocklink-bg--current;
    }

    #{$linklike-selector} {
        transition: color $transition-out-time;
    }

    &:hover,
    &:focus {
        #{$linklike-selector} {
            color: $color__link--hover;
            text-decoration: underline;
            transition-duration: $transition-in-time;
        }
    }
}

@mixin blocklink--transparent($linklike-selector: '.linklike') {
    @include blocklink($linklike-selector);

    background-color: transparent;

    &:hover:not(:active),
    &:focus:not(:active) {
        background-color: transparent;
    }
}

@mixin fancy-underscore($width: 1px) {
    position: relative;

    &:after {
        background-color: currentColor;
        bottom: -6px;
        content: '';
        height: $width;
        left: 50%;
        opacity: 0;
        position: absolute;
        right: 50%;
        transition: left $transition-in-time, right $transition-in-time, opacity $transition-in-time;
    }

    &:hover:after {
        left: 0;
        opacity: 1;
        right: 0;
    }
}
