/*------------------------------------*\
    #PAGE NAVIGATION
    previous and next buttons
\*------------------------------------*/

$page-nav__icon-color: $color__link !default;
$page-nav__icon-hover: $color__link--hover !default;
$page-nav__prefix-color: $color__blue--darker !default;
$page-nav__icon-size: 56px;




.sequential-nav {
    margin-top: 56px;
    margin-bottom: 49px;
    overflow: hidden;
}

.sequential-nav__item:first-child {
    float: left;
}

.sequential-nav__item:last-child {
    float: right;
}

.sequential-nav__button {
    @include blocklink('.sequential-nav__text');

    background: transparent;
    border-radius: 8px;
    display: inline-block;
    line-height: 21px;
    margin: 14px 0;
    min-height: 91px;
    outline: none !important;
    padding: 14px 5px;
    position: relative;
    text-decoration: none;
    width: 100%;

    &:not([href]) {
      display: none;
    }

    &--left {
        padding-left: ($page-nav__icon-size + 5px + 12px);
        text-align: left;

        &:before {
            left: 5px;
        }

        &:after {
            @include chevron(left, 30px, 5px);
            color: $color__white;
            left: 25px;
            position: absolute;
            top: 29px;
        }
    }

    &--right {
        text-align: right;
        float: right;
        padding-right: ($page-nav__icon-size + 5px + 12px);
        text-align: right;

        &:before {
            right: 5px;
        }

        &:after {
            @include chevron(right, 30px, 5px);
            color: $color__white;
            position: absolute;
            top: 29px;
            right: 25px;
        }
    }

    // Shared styles for left and right variations
    // :before is the circle
    &--left:before,
    &--right:before {
      content: '';
      height: $page-nav__icon-size;
      width: $page-nav__icon-size;
      background-color: $page-nav__icon-color;
      background-position: center;
      border-radius: $page-nav__icon-size;
      display: inline-block;
      position: absolute;
      top: 12px;

      transition: background-color $transition-out-time;
    }
}

.sequential-nav__button:hover {
    &:before {
        background-color: $page-nav__icon-hover;
    }
}

.sequential-nav__text {
    display: inline-block;
    padding-top: 21px;
    position: relative;

    &:before {
        color: $page-nav__prefix-color;
        content: attr(data-label);
        font-size: 14px;
        font-weight: $bold;
        left: 0;
        position: absolute;
        right: 0;
        text-transform: uppercase;
        top: 0;
    }
}

@include media-query(medium) {
    .sequential-nav {
        margin-bottom: 56px;
    }
}


@supports(display: grid) {
    .sequential-nav {
        display: grid;
        grid-gap: $grid-gap;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'prev next';
    }

    .sequential-nav__item {
        float: none;

        &--prev {
            grid-area: prev;
        }

        &--next {
            grid-area: next;
        }
    }

}
