/*------------------------------------*\
    ARTICLE HEADER
    title block for articles
\*------------------------------------*/

.page-header {
    margin: 14px 0 35px;

    &__title {
        margin-bottom: 0;
    }

    &__label + &__title {
        margin-top: 0;
    }
}

@include media-query(medium) {
    .page-header {
        margin-top: 28px;
    }
}
