/*------------------------------------*\
    CONTENT LABEL
\*------------------------------------*/

.content-label {
    font-weight: $semibold;
    line-height: 21px;
    margin: 0;
    text-transform: uppercase;
}
