<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:500,300,700,400&display=swap' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/css/patternlib.css?{{site.time | date: '%s'}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
</head>
<body>
    {% assign hasjQuery = false %}

    {% assign examples = site.pages | where: "parent", page.parent | where: "type", "example" %}

    {% for example in examples %}

        {% assign nameFragments = example.name | split: '.' %}
        <div id="example-{{nameFragments[1]}}">
            {{example.content}}

            {% if example.scripts %}
                {% for script in example.scripts %}
                    <script src="{{script}}"></script>
                {% endfor %}
            {% endif %}

            {% if example.jquery %}
                {% assign hasjQuery = true %}
            {% endif %}
        </div>
    {% endfor %}

    {% if hasjQuery %}
    <script
    src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
    crossorigin="anonymous"></script>
    {% endif %}

    {% include breakpoint-tests.html %}
</body>
