<!DOCTYPE html>
<html>

<!-- finding the depth of this category page and using that to determine which tile layout to use -->

{% assign depth = 0 %}
{% assign homefound = false %}

{% assign parent = site.pages | where:"thispage", page.parent %}

{% for item in parent %}
{% endfor %}
{% if parent[0].thispage == 'home' %}
    {% assign homefound = true %}
{% endif %}

{% unless homefound %}
    {% assign parent = site.pages | where:"thispage", parent[0].parent %}
    {% if parent[0].thispage == 'home' %}
        {% assign homefound = true %}
    {% endif %}
    {% assign depth = depth | minus:1 %}
{% endunless %}

{% unless homefound %}
    {% assign parent = site.pages | where:"thispage", parent[0].parent %}
    {% if parent[0].thispage == 'home' %}
        {% assign homefound = true %}
    {% endif %}
    {% assign depth = depth | minus:1 %}
{% endunless %}

{% unless homefound %}
    {% assign parent = site.pages | where:"thispage", parent[0].parent %}
    {% if parent[0].thispage == 'home' %}
        {% assign homefound = true %}
    {% endif %}
    {% assign depth = depth | minus:1 %}
{% endunless %}

{% assign depth = depth | times:-1 %}

{% if page.depth %}
    {% assign depth = page.depth %}
{% endif %}

{% include head.html %}

<body class="layout--tiles  tiles--{{depth}}">

<div class="header-wrapper">
    {% include banner.html %}
    {% include header.html %}

    <div class="wrapper">

        <div class="category-header">
            <header class="category-header__header">
                <h1 class="category-header__title">{{ page.title }}</h1>

                <div class="category-header__summary">
                    {% if page.markdownsummary %}
                        {{ page.markdownsummary | markdownify }}
                    {% else %}
                        <p>{{ page.summary }}</p>
                    {% endif %}
                </div>
            </header>
            {% if page.hero %}
                <img class="category-header__image"
                    src="/assets/images/hero/{{ page.hero }}" alt="">
            {% endif %}
        </div>

        {% if page.underreview %}
            {% include under-review.html %}
        {% endif %}

        {% if content %}
            <div class="grid"><!--
                --><div class="grid__item  medium--eight-twelfths">
                    {{ content }}
                </div><!--
            --></div>
        {% endif %}
    </div>
</div>

<div id="body-wrapper" class="body-wrapper">
    <div class="wrapper">
        <div class="category-list-container">
            {% assign depthAsString = depth | downcase %}
            <ol class="main  category-list
                {% if depthAsString == '0' %}
                    category-list--grid  category-list--grid--narrow
                {% else if depthAsString == '1' %}
                    category-list--grid
                {% else if depthAsString == '2' %}
                    category-list
                {% else if depthAsString == '3' %}

                {% endif %}
            ">

                {% if page.sortfield %}
                    {% assign indexed = site.pages | where:"category", page.navitems | sort: page.sortfield, "first" %}
                {% else %}
                    {% assign indexed = site.pages | where:"category", page.navitems | sort: 'title', "first" %}
                {% endif %}

                {% for item in indexed %}

                    {% if depth == 0 %}
                        <li class="category-item  category-item--card  category-item--no-border">
                            <a data-navigation="category-item-{{forloop.index}}" href="{{ item.url }}" class="category-item__link" data-gtm="item-{{forloop.index}}">
                                <h2 class="category-item__title">{{item.title}}</h2>

                                {% if item.summary %}
                                    <p class="category-item__summary">
                                        {{ item.summary }}
                                    </p>
                                {% endif %}
                            </a>
                        </li>
                    {% else %}
                        <li class="category-item">
                            <a data-navigation="category-item-{{forloop.index}}" href="{{ item.url }}" class="category-item__link" data-gtm="item-{{forloop.index}}">
                                <h2 class="category-item__title">{{item.title}}</h2>

                                {% if item.summary %}
                                    <p class="category-item__summary">
                                        {{ item.summary }}
                                    </p>
                                {% endif %}
                            </a>
                        </li>

                    {% endif %}

                {% endfor %}

            </li>
        </div>

    </div>
</div>


{% include footer.html %}

</body>

</html>
