<!DOCTYPE html>
<html>

<!-- finding the depth of this category page and using that to determine which tile layout to use -->

{% assign depth = 0 %}
{% assign homefound = false %}

{% assign parent = site.pages | where:"thispage", page.parent %}

{% for item in parent %}
{% endfor %}
{% if parent[0].thispage == 'home' %}
    {% assign homefound = true %}
{% endif %}

{% unless homefound %}
    {% assign parent = site.pages | where:"thispage", parent[0].parent %}
    {% if parent[0].thispage == 'home' %}
        {% assign homefound = true %}
    {% endif %}
    {% assign depth = depth | minus:1 %}
{% endunless %}

{% unless homefound %}
    {% assign parent = site.pages | where:"thispage", parent[0].parent %}
    {% if parent[0].thispage == 'home' %}
        {% assign homefound = true %}
    {% endif %}
    {% assign depth = depth | minus:1 %}
{% endunless %}

{% unless homefound %}
    {% assign parent = site.pages | where:"thispage", parent[0].parent %}
    {% if parent[0].thispage == 'home' %}
        {% assign homefound = true %}
    {% endif %}
    {% assign depth = depth | minus:1 %}
{% endunless %}

{% assign depth = depth | times:-1 %}

{% if page.depth %}
    {% assign depth = page.depth %}
{% endif %}

{% include head.html %}

<body class="layout--tiles  tiles--{{depth}}">

<div class="header-wrapper">
    {% include notifications.html %}
    {% include site-header.html %}
    {% include header.html %}

    <div class="ds_wrapper">

        <div class="ds_category-header">
            <header class="ds_category-header__header">
                <h1 class="ds_category-header__title">{{ page.title }}</h1>

                <div class="ds_category-header__summary">
                    {% if page.markdownsummary %}
                        {{ page.markdownsummary | markdownify }}
                    {% else %}
                        <p>{{ page.summary }}</p>
                    {% endif %}
                </div>
            </header>
            {% if page.hero %}
                <div class="ds_category-header__media-container">
                    <img class="ds_category-header__media"
                    src="/assets/images/hero/{{ page.hero }}" alt="">
                </div>
            {% endif %}
        </div>

        {% if page.underreview %}
            {% include under-review.html %}
        {% endif %}

        {% if content %}
            <div class="grid"><!--
                --><div class="grid__item  medium--eight-twelfths">
                    {{ content }}
                </div><!--
            --></div>
        {% endif %}
    </div>
</div>

<div id="body-wrapper" class="body-wrapper">
    <div class="ds_wrapper">
        <div class="ds_category-list-container">
            {% assign depthAsString = depth | downcase %}
            <ol class="main  ds_category-list
                {% if depthAsString == '0' %}
                    ds_category-list--grid  ds_category-list--narrow
                {% else if depthAsString == '1' %}
                    ds_category-list--grid
                {% else if depthAsString == '2' %}
                    ds_category-list
                {% else if depthAsString == '3' %}

                {% endif %}
            ">

                {% if page.sortfield %}
                    {% assign indexed = site.pages | where:"category", page.navitems | sort: page.sortfield, "first" %}
                {% else %}
                    {% assign indexed = site.pages | where:"category", page.navitems | sort: 'title', "first" %}
                {% endif %}

                {% for item in indexed %}

                    {% if depth == 0 %}
                        <li class="ds_card  ds_card--has-hover  ds_card--filled">
                            <article class="ds_category-item">
                                <h2 class="ds_category-item__title">
                                    <a data-navigation="category-item-{{forloop.index}}" href="{{ item.url }}" class="ds_category-item__link">
                                        {{item.title}}
                                    </a>
                                </h2>

                                {% if item.summary %}
                                    <p class="ds_category-item__summary">
                                        {{ item.summary }}
                                    </p>
                                {% endif %}
                            </article>
                        </li>
                    {% else %}
                        <li class="ds_category-item">
                            <h2 class="ds_category-item__title">
                                <a data-navigation="category-item-{{forloop.index}}" href="{{ item.url }}" class="ds_category-item__link">
                                    {{item.title}}
                                </a>
                            </h2>

                            {% if item.summary %}
                                <p class="ds_category-item__summary">
                                    {{ item.summary }}
                                </p>
                            {% endif %}
                        </li>

                    {% endif %}

                {% endfor %}

            </li>
        </div>

    </div>
</div>


{% include footer.html %}

</body>

</html>
