<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body class="article {{ page.type }} layout--component">

{% include skip-links.html %}

<div class="ds_page">

    <div class="ds_page__top">
        {% include notifications.html %}
        {% include site-header.html %}
    </div>

    <div class="ds_page__middle">

        <div id="body-wrapper" class="body-wrapper">

            {% include header.html %}

            <style>
                pre {
                    white-space: pre-wrap;
                }
            </style>

            <div class="ds_wrapper">

                <main id="main-content" class="ds_layout  ds_layout--pl-component">

                    <div class="ds_layout__sidebar">
                        {% assign sectionData = site.data.sections[page.category] %}
                        {% include component-side-navigation.html %}
                    </div>

                    <div class="ds_layout__header">
                        <header class="heading">
                            <div class="ds_page-header">
                                {% if page.category == 'styles' %}
                                    <span class="ds_page-header__label  ds_content-label">Style</span>
                                {% elsif page.category == 'components' %}
                                    <span class="ds_page-header__label  ds_content-label">Component</span>
                                {% elsif page.category == 'patterns' %}
                                    <span class="ds_page-header__label  ds_content-label">Pattern</span>
                                {% endif %}

                                <h1 class="ds_page-header__title">{{ page.title }}</h1>
                            </div>

                            {% if page.experimental %}
                            <div class="ds_warning-text">
                                <strong class="ds_warning-text__icon" aria-hidden="true">!</strong>
                                <div class="ds_warning-text__text">
                                    <strong class="ds_tag">Experimental</strong><br />
                                    This component is currently experimental because more research is needed to validate it.
                                </div>
                            </div>
                            {% endif %}
                       </header>
                    </div>

                    <div class="ds_layout__content">

                        {% if page.summary %}
                            <p class="ds_leader">
                                {{ page.summary }}
                            </p>
                        {% endif %}

                        {% assign indexed = site.pages | where:"parent", page.thispage | sort: 'index', 'first' %}
                        {% for item in indexed %}
                            {% if item.type == 'example' and item.name == 'example.main.md' %}
                                {% include example-frame.html title="{{page.title}} example" name="main" html-expanded=page.example.html-expanded no-demo=page.example.no-demo %}
                            {% endif %}
                        {% endfor %}

                        {{content}}

                        {% if page.examples %}
                            <style>
                            .live-examples {
                                /* font-size: 0.8em;
                                border-left: 4px solid #0065bd;
                                margin: 35px 0; */
                                padding: 16px 32px;
                            }
                            </style>

                            <aside class="ds_callout  live-examples">
                                {% assign examplessize = page.examples | size %}
                                <h2 class="gamma">Live example{% unless examplessize == 1%}s{% endunless %}</h2>

                                <div class="ds_callout__content">
                                    {% for item in page.examples %}
                                        <p class="live-examples__item">
                                            <a href="{{item.url}}">{{item.name}}</a> ({{item.site}})
                                        </p>
                                    {% endfor %}
                                </div>
                            </aside>
                        {% endif %}

                        {% assign sectionData = site.data.sections[page.category] %}
                        {% include component-sequential-nav.html %}

                        {% include feedback.html %}
                    </div>
                </main>
            </div>
        </div>
    </div>

    {% include back-to-top.html %}

    <div class="ds_page__bottom">
        {% include footer.html %}
    </div>
</div>

</body>
</html>
