<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body class="article {{ page.type }} layout--default">

{% include skip-links.html %}

<div class="ds_page">

    <div class="ds_page__top">
        {% include notifications.html %}
        {% include site-header.html %}
    </div>

    <div class="ds_page__middle">

        <div id="body-wrapper" class="body-wrapper">

            {% include header.html %}

            <style>
                pre {
                    white-space: pre-wrap;
                }
            </style>

            <div class="ds_wrapper">

                <main id="main-content" class="ds_layout  ds_layout--pl-component">

                    <div class="ds_layout__sidebar">
                        {% assign navitems = page.category %}
                        {% include component-side-navigation.html %}
                    </div>

                    <div class="ds_layout__header">
                        <header class="heading">
                            <div class="ds_page-header">
                                {% if page.category == 'styles' %}
                                    <span class="ds_page-header__label  ds_content-label">Style</span>
                                {% elsif page.category == 'components' %}
                                    <span class="ds_page-header__label  ds_content-label">Component</span>
                                {% elsif page.category == 'patterns' %}
                                    <span class="ds_page-header__label  ds_content-label">Pattern</span>
                                {% endif %}

                                <h1 class="ds_page-header__title">{{ page.title }}</h1>
                            </div>



                            {% if page.experimental %}
                            <div class="ds_phase-banner">
                                <p class="ds_phase-banner__content  ds_phase-banner__content--stacked">
                                    <strong class="ds_tag  ds_phase-banner__tag">
                                        Experimental
                                    </strong>
                                    <span class="ds_phase-banner__text">
                                        This component is currently experimental because more research is needed to validate it.
                                    </span>
                                </p>
                            </div>
                            {% endif %}
                       </header>
                    </div>

                    <div class="ds_layout__content">

                        {% if page.summary %}
                            <p class="ds_leader">
                                {{ page.summary }}
                            </p>
                        {% endif %}

                        {% assign indexed = site.pages | where:"parent", page.thispage | sort: 'index', 'first' %}
                        {% for item in indexed %}
                            {% if item.type == 'example' and item.name == 'example.main.md' %}
                                {% include example-frame.html name="main" %}
                            {% endif %}
                        {% endfor %}



                        {% if page.examples %}
                            <style>
                            .live-examples {
                                font-size: 0.8em;
                                border-left: 4px solid #0065bd;
                                margin: 35px 0;
                                padding: 3px 35px 4px 10px;
                            }

                            .live-examples__item {
                                margin-bottom: 0;
                            }
                            </style>
                            <aside class="live-examples">
                                {% assign examplessize = page.examples | size %}

                                <h3>Live example{% unless examplessize == 1%}s{% endunless %}</h3>
                                {% for item in page.examples %}
                                    <p class="live-examples__item">
                                        {{item.site}}: <a href="{{item.url}}">{{item.name}}</a>
                                    </p>
                                {% endfor %}
                            </aside>
                        {% endif %}

                        {{content}}

                        {% include component-sequential-nav.html %}

                    </div>
                </main>
            </div>

        </div>

    </div>

    <div class="ds_page__bottom">
        {% include footer.html %}
    </div>

</div>

<link rel="stylesheet" href="/assets/css/highlight.css">
<script src="/assets/scripts/highlight.pack.js"></script>

<script>
{% if page.highlighttype %}
var codeBlocks = [].slice.call(document.querySelectorAll('pre code'));

for (var i = 0, il = codeBlocks.length; i < il; i++) {
    codeBlocks[i].setAttribute('class', '{{page.highlighttype}}');
}
{% endif %}

hljs.initHighlightingOnLoad();
</script>

</body>
</html>
