<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body class="article {{ page.type }} layout--component">

{% include skip-links.html %}

{% if page.updatehistory %}
    {% assign updatehistory_by_date = page.updatehistory | sort: "date" | reverse %}
{% endif %}

<div class="ds_page">

    <div class="ds_page__top">
        {% include notifications.html %}
        {% include site-header.html %}
    </div>

    <div class="ds_page__middle">

        <div id="body-wrapper" class="body-wrapper">

            {% include header.html %}

            <style>
                pre {
                    white-space: pre-wrap;
                }
            </style>

            <div class="ds_wrapper">

                <main id="main-content" class="ds_layout  ds_layout--pl-component">

                    <div class="ds_layout__sidebar">
                        {% assign sectionData = site.data.sections[page.category] %}
                        {% include component-side-navigation.html %}
                    </div>

                    <div class="ds_layout__header">
                        <header class="heading">
                            <div class="ds_page-header">
                                {% if page.category == 'styles' %}
                                    <span class="ds_page-header__label  ds_content-label">Style</span>
                                {% elsif page.category == 'components' %}
                                    <span class="ds_page-header__label  ds_content-label">Component</span>
                                {% elsif page.category == 'patterns' %}
                                    <span class="ds_page-header__label  ds_content-label">Pattern</span>
                                {% elsif page.category == 'guidance' %}
                                    <span class="ds_page-header__label  ds_content-label">Guidance</span>
                                {% endif %}

                                <h1 class="ds_page-header__title">{{ page.title }}</h1>
                            </div>

                            {% if page.experimental %}
                            <div class="ds_inset-text">
                                <div class="ds_inset-text__text">
                                    <strong class="ds_tag">Experimental</strong>
                                    <p>This is currently experimental because we need more research to validate it.</p>
                                </div>
                            </div>
                            {% endif %}

                            {% if page.draft %}
                            <div class="ds_inset-text">
                                <div class="ds_inset-text__text">
                                    <strong class="ds_tag">Draft</strong>
                                    <p>This content is incomplete.</p>
                                </div>
                            </div>
                            {% endif %}

                            {% if page.deprecated %}
                            <div class="ds_warning-text">
                                <strong class="ds_warning-text__icon" aria-hidden="true"></strong>
                                <strong class="visually-hidden">Warning</strong>
                                <strong class="ds_tag">Deprecated</strong>
                                <p>This component has been deprecated. {{page.deprecated}}</p>
                            </div>
                            {% endif %}

                            {% if updatehistory_by_date %}
                                {% assign latestupdate = updatehistory_by_date[0] %}

                                {% capture threemonthsagounix %}{{'now' | date: '%s' | minus: 7948800}}{% endcapture %}
                                {% capture latestupdatetime %}{{latestupdate.date | date: '%s'}}{% endcapture %}

                                {% if latestupdatetime > threemonthsagounix %}
                                    <div class="ds_callout">
                                        <h2 class="ds_h4">
                                            {% capture updatedDate %}{% include human-date.html date=latestupdate.date %}{% endcapture %}
                                            Updated {{updatedDate}}
                                        </h2>

                                        {{latestupdate.content}}
                                    </div>
                                {% endif %}
                            {% endif %}

                       </header>
                    </div>

                    <div class="ds_layout__content">

                        {% if page.summary %}
                            <p class="ds_leader">
                                {{ page.summary }}
                            </p>
                        {% endif %}

                        {% assign indexed = site.pages | where:"parent", page.thispage | sort: 'index', 'first' %}
                        {% for item in indexed %}
                            {% if item.type == 'example' and item.name == 'example.main.md' %}
                                {% assign iframetitle = page.title | append: " example" %}
                                {% include example-frame.html title=iframetitle name="main" html-expanded=page.example.html-expanded no-demo=page.example.no-demo no-code=page.example.no-code %}
                            {% endif %}
                        {% endfor %}

                        {{content}}

                        {% if updatehistory_by_date %}
                            <div id="history" class="ds_!_margin-top--4">
                                <dl class="ds_metadata">

                                    <div class="ds_metadata__item">
                                        <dt class="ds_metadata__key">Last updated</dt>
                                        <dd class="ds_metadata__value">
                                            <strong>{{updatedDate}}</strong>
                                            <span class="dss_toggle-link">
                                            - <a href="#full-history" data-module="dss-toggle-link" aria-controls="full-history" data-toggled-text="hide all updates" aria-expanded="false">show all updates</a>
                                            </span>
                                        </dd>
                                    </div>

                                    <div id="full-history" data-module="dss-update-history" class="ds_metadata__item  dss_toggle-link__target">
                                        <dt class="ds_metadata__key  visually-hidden">All updates</dt>
                                        <dd class="ds_metadata__value  dss_history-list">
                                            <ol class="ds_no-bullets">

                                                {% for item in updatehistory_by_date %}
                                                    <li class="dss_history-list__item">
                                                        {% capture updatedDate %}{% include human-date.html date=item.date %}{% endcapture %}

                                                        <time>{{updatedDate}}</time>
                                                        <p style="font-weight: 400">{{item.content}}</p>
                                                    </li>
                                                {% endfor %}
                                            </ol>
                                        </dd>
                                    </div>
                                </dl>
                            </div>
                        {% endif %}

                        {% if page.examples %}
                            <style>
                            .live-examples {
                                /* font-size: 0.8em;
                                border-left: 4px solid #0065bd;
                                margin: 35px 0; */
                                padding: 16px 32px;
                            }
                            </style>

                            <aside class="ds_callout  live-examples">
                                {% assign examplessize = page.examples | size %}
                                <h2 class="ds_h3">Live example{% unless examplessize == 1%}s{% endunless %}</h2>

                                <div class="ds_callout__content">
                                    {% for item in page.examples %}
                                        <p class="live-examples__item">
                                            <a href="{{item.url}}">{{item.name}}</a> ({{item.site}})
                                            {% if item.description %}
                                            <br>{{item.description}}
                                            {% endif %}
                                        </p>
                                    {% endfor %}
                                </div>
                            </aside>
                        {% endif %}

                        {% assign sectionData = site.data.sections[page.category] %}
                        {% include component-sequential-nav.html %}

                        {% include feedback.html %}
                    </div>
                </main>
            </div>
        </div>
    </div>

    {% include back-to-top.html %}

    <div class="ds_page__bottom">
        {% include footer.html %}
    </div>
</div>

</body>
</html>
