<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body class="article {{ page.type }} layout--default">

{% include skip-links.html %}

<div class="ds_page">

    <div class="ds_page__top">
        {% include notifications.html %}
        {% include site-header.html %}
    </div>

    <div class="ds_page__middle">

        <div id="body-wrapper" class="body-wrapper">

            {% include header.html %}

            <div class="ds_wrapper">

                <main id="main-content" class="ds_layout  ds_layout--pl-article">

                    <div class="ds_layout__header">
                        <header class="heading">
                            <div class="ds_page-header">
                                <span class="ds_page-header__label  ds_content-label">{{ page.imperative }}</span>

                                <h1 class="ds_page-header__title">{{ page.title }}</h1>
                            </div>
                        </header>
                    </div>

                    <div class="ds_layout__sidebar">
                        {% assign navitems = page.category %}

                        {% assign rootpages = site.pages | where:"category", page.category | where:"parent", "home" %}
                        {% assign rootpage = rootpages[0] %}

                        {% if rootpage.sidebar %}
                        {% include component-side-navigation-nested.html sidebar=rootpage.sidebar %}
                        {% else %}
                        {% include component-side-navigation.html %}
                        {% endif %}
                    </div>

                    {% if page.headings %}
                        <div class="ds_layout__sidebar">
                            <div class="page-group page-group--section-nav">
                                <ul class="page-group__list">
                                    {% for heading in page.headings %}
                                        <li class="page-group__item">
                                            <a class="page-group__link  page-group__link--condensed" href="#{{heading | replace:'.', '' | slugify}}">{{ heading }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}

                    <div class="ds_layout__content">
                        <div class="main-content">
                            {% if page.summary %}
                            <p class="ds_leader">
                                {{ page.summary }}
                            </p>
                            {% endif %}

                            {{ content }}

                            {% include component-sequential-nav.html %}

                            {% include feedback.html %}
                        </div>
                    </div>
                </main>

            </div>
            <!-- /end .wrapper -->

        </div>
        <!-- /end #body-wrapper -->
    </div>

    <div class="ds_page__bottom">
        {% include footer.html %}
    </div>

</div>

</body>

</html>
