<!DOCTYPE html>
<html lang="en">
    <head>
        <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,700&display=swap' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/assets/css/base-only.css?{{site.time | date: '%s'}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="noindex">
        <style type="text/css">
            html {
                font-size: 16px !important;
            }

            body {
                padding-top: 35px;
                line-height: 21px !important;
            }

            h2 {
                line-height: 28px;
                margin-bottom: 7px;
            }

            {% if page.style %}
                {{page.style}}
            {% endif %}
        </style>

        <!-- Google Tag Manager -->
        <!-- Browsers with ES module support load this file -->
        <script id="gtm-script" data-gtmcode="{{site.examples_gtm_code}}" type="module" src="/assets/scripts/dist/gtm.js?{{site.time | date: '%s'}}"></script>
        <!-- Older browsers load this file -->
        <!-- (and module-supporting browsers know *not* to load this file) -->
        <script nomodule src="/assets/scripts/dist/gtm.es5.js?{{site.time | date: '%s'}}"></script>
        <!-- End Google Tag Manager -->

        <title>Base grid interactive demo – Digital Scotland Design System</title>

    </head>
    <body>
        <div class="example-frame__intro">
            {% assign parent = site.pages | where:"thispage", page.parent | sort: 'index', 'first' %}
            <h1 class="visually-hidden">
                {% if parent[0] %}
                    {{parent[0].title}} example
                {% else %}
                    Example
                {% endif %}
            </h1>
        </div>

        <div class="example-frame__content">
            {{content}}
        </div>

        {% if page.jquery %}
        <script
        src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous"></script>
        {% endif %}

        {% if page.scripts %}
            {% for script in page.scripts %}
                <script src="{{script}}"></script>
            {% endfor %}
        {% endif %}

        {% if page.note %}
            <p class="example-frame__note">Note: {{page.note}}</p>
        {% endif %}
    </body>
</html>
