<!DOCTYPE html>
<html lang="en">
<head xml:lang="en">
    <link href='https://fonts.googleapis.com/css?family=Roboto:500,300,700,400&display=swap' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/css/patternlib.css?{{site.time | date: '%s'}}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <style type="text/css">
        body {
            padding-top: 35px;
        }

        .example-frame__note {
            background: #ffb644;
            margin: 0;
            padding: 14px 15px;
        }

        .example-frame__content {
            padding: 14px 15px;
        }

        {% if page.style %}
            {{page.style}}
        {% endif %}
    </style>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{ site.examples_gtm_code }}');</script>
    <!-- End Google Tag Manager -->

    <script src="/assets/scripts/polyfills/svgxuse.js"></script>

    <script>
        document.documentElement.classList.add('js-enabled');
    </script>
</head>
<body>

    <div class="example-frame__intro">
        {% assign parent = site.pages | where:"thispage", page.parent | sort: 'index', 'first' %}
        <h1 class="visually-hidden">
            {% if parent[0] %}
                {{parent[0].title}} example
            {% else %}
                Example
            {% endif %}
        </h1>
    </div>

    <div class="example-frame__content">
        {{content}}
    </div>

    {% if page.jquery %}
    <script
    src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
    crossorigin="anonymous"></script>
    {% endif %}

    {% if page.note %}
        <p class="example-frame__note">Note: {{page.note}}</p>
    {% endif %}

    {% include breakpoint-tests.html %}

    <!-- Browsers with ES module support load these files -->
    <script type="module" src="/assets/scripts/dist/pattern-library.js"></script>

    <!-- Older browsers load these files -->
    <!-- (and module-supporting browsers know *not* to load these files) -->
    <script nomodule src="/assets/scripts/dist/pattern-library.es5.js"></script>
</body>
</html>
