<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body class="layout--home">



<style>
body {
    background-color: #f8f8f8;
}


.zebra:nth-child(2n-1) {
    background-color: #fff;
    border: 1px solid #ddd;
    border-width: 1px 0;
}

.zebra:first-of-type {
    border-top: 0;
}

.zebra:last-of-type {
    border-bottom: 0;
}

.zebra {
    padding: 28px 0;
}
</style>

{% include skip-links.html %}

<div class="ds_page">

    <div class="ds_page__top">
        {% include notifications.html %}
        {% include site-header.html %}


    </div>

    <div class="ds_page__middle">
        {% include header.html %}

        <main id="main-content">
            <section id="welcome">
                <div class="dss_homepage-hero__container  ds_reversed">
                    <div class="ds_wrapper">
                        <div class="dss_homepage-hero">
                            <header class="dss_homepage-hero__header">
                                <h1 class="dss_homepage-hero__title">Design and build accessible digital services for Scotland</h1>
                            </header>
                            <div class="dss_homepage-hero__summary">
                                <p>{{page.content}}</p>

                                <div class="dss_homepage-hero__cta">
                                    <a href="/get-started" class="ds_button  ds_button--secondary  ds_button--has-icon  ds_button--fixed">
                                        Get started
                                        <svg class="ds_icon" aria-hidden="true" role="img"><use href="/assets/images/icons/icons.stack.svg#chevron_right"></use></svg>
                                    </a>
                                </div>
                            </div>
                            <div class="dss_homepage-hero__media-container">
                                <a class="dss_homepage-hero__media-link" target="_blank" href="https://vimeo.com/445609811">
                                    <div class="ds_aspect-box">
                                        <img class="dss_homepage-hero__media  ds_aspect-box__inner" src="/assets/images/animation-still.svg" alt="">
                                    </div>
                                    <p class="dss_homepage-hero__media-caption">
                                        <svg class="ds_icon" focusable="false" aria-hidden="true" role="img"><use href="/assets/images/icons/icons.stack.svg#play_circle"></use></svg>Watch our introductory video
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            {% if page.sortfield %}
                {% assign indexed = site.pages | where:"category", page.navitems | sort: page.sortfield, "first" %}
            {% else %}
                {% assign indexed = site.pages | where:"category", page.navitems | sort: 'title', "first" %}
            {% endif %}

            {%if indexed.size > 0 %}
                <section id="library" class="zebra">
                    <div class="ds_wrapper">
                        <div class="ds_category-list-container">
                            <ol class="main  ds_category-list  ds_category-list--grid  ds_category-list--narrow">

                                {% if page.sortfield %}
                                    {% assign indexed = site.pages | where:"category", page.navitems | sort: page.sortfield, "first" %}
                                {% else %}
                                    {% assign indexed = site.pages | where:"category", page.navitems | sort: 'title', "first" %}
                                {% endif %}

                                {% for item in indexed %}
                                    <li class="ds_card  ds_card--has-hover">
                                        <article class="ds_category-item">
                                            <h2 class="ds_category-item__title">
                                                <a href="{{ item.url }}" class="ds_category-item__link">
                                                    {{item.title}}
                                                </a>
                                            </h2>

                                            {% if item.summary %}
                                                <p class="ds_category-item__summary">
                                                    {{ item.summary }}
                                                </p>
                                            {% endif %}
                                        </article>
                                    </li>
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                </section>
            {% endif %}

            {% assign indexed = site.pages | where:"category", 'homepage-links' | sort: 'title', 'first' %}
            <section id="links" class="zebra">
                <div class="ds_wrapper">
                    <div class="dss_homepage-links">
                    {% for item in indexed %}
                        <div class="dss_homepage-links__block">
                            <h2 class="gamma">{{item.title}}</h2>
                            <p>{{item.content}}</p>
                            <a href="{{item.signpostUrl}}">{{item.linktext}}</a>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </section>
        </main>
    </div>

    {% include back-to-top.html %}

    <div class="ds_page_bottom">
        {% include footer.html %}
    </div>
</div>

</body>

</html>
