<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body class="layout--home">

{% include skip-links.html %}

<div class="ds_page">

    <div class="ds_page__top">
        {% include notifications.html %}
        {% include site-header.html %}
    </div>

    <div class="ds_page__middle">
        {% include header.html %}

        <main id="main-content">

            <header class="ds_cb  ds_cb--page-title  ds_cb--bg-blue  ds_cb--fullwidth  ds_cb--page-title--wide">
                <div class="ds_wrapper">
                    <div class="ds_cb__inner">
                        <div class="ds_cb__text  ds_cb__content">
                            <div class="ds_page-header">
                                <h1 class="ds_page-header__title">Design and build accessible digital services for Scotland</h1>
                            </div>
                            <p>{{page.content}}</p>
                            <a href="/get-started/" class="ds_button ds_button--has-icon">Get started<svg class="ds_icon" aria-hidden="true" role="img">
                                <use href="/assets/images/icons/icons.stack.svg#chevron_right"></use>
                            </svg></a>
                        </div>
                        <div class="ds_cb__poster">
                            <picture>
                                <source media="(min-width: 1200px)"
                                        sizes="194px"
                                        srcset="/assets/images/ds-graphic-xlarge.svg 194w"/>
                                <source media="(min-width: 992px)"
                                        sizes="142px"
                                        srcset="/assets/images/ds-graphic-large.svg 142w"/>
                                <source media="(min-width: 768px)"
                                        sizes="86px"
                                        srcset="/assets/images/ds-graphic-medium.svg 86w"/>
                                <source media="(max-width: 767px)"
                                        sizes="735px"
                                        srcset="/assets/images/ds-graphic-fluid.svg 267w"/>
                                <img alt="" src="/assets/images/ds-graphic-fluid.svg" width="735" height="413" />
                            </picture>
                        </div>
                    </div>
                </div>
                <aside class="ds_cb  ds_cb--page-title__aside  ds_cb--bg-darkblue  ds_cb--fullwidth">
                    <div class="ds_wrapper">
                        <span class="ds_cb--page-title__aside-icon" aria-hidden="true">
                            <svg class="ds_icon ds_icon--fill" aria-hidden="true" role="img">
                                <use href="/assets/images/icons/icons.stack.svg#play_circle"></use>
                            </svg>
                        </span>
                        <p><a href="https://vimeo.com/445609811">Watch our introductory video on Vimeo</a></p>
                    </div>
                </aside>
            </header>

            {% include homepage-whats-new.html %}

            {% if page.sortfield %}
                {% assign indexed = site.pages | where:"category", page.navitems | sort: page.sortfield, "first" %}
            {% else %}
                {% assign indexed = site.pages | where:"category", page.navitems | sort: 'title', "first" %}
            {% endif %}

            {%if indexed.size > 0 %}
            <div id="library" class="ds_cb  ds_cb--cards  ds_cb--fullwidth  ds_cb--bg-grey">
                <div class="ds_wrapper">
                    <div class="ds_cb__inner">

                    {% if page.sortfield %}
                        {% assign indexed = site.pages | where:"category", page.navitems | sort: page.sortfield, "first" %}
                    {% else %}
                        {% assign indexed = site.pages | where:"category", page.navitems | sort: 'title', "first" %}
                    {% endif %}

                    {% for item in indexed %}
                        <div class="ds_card  ds_card--hover">
                            <div class="ds_card__content">
                                <h2 class="ds_card__title">
                                    <a class="ds_card__link--cover" href="{{ item.url }}">{{item.title}}</a>
                                </h2>
                                {% if item.summary %}
                                <p>{{ item.summary }}</p>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>


            {% endif %}

            {% assign indexed = site.pages | where:"category", 'homepage-links' | sort: 'title', 'first' %}
            <div id="links" class="ds_cb  ds_cb--text">
                <div class="ds_wrapper">
                    <div class="ds_cb__inner">
                        <div class="ds_cb__text">
                        {% for item in indexed %}
                            <h2>{{item.title}}</h2>
                            <p>{{item.content}}</p>
                            <p><a href="{{item.signpostUrl}}">{{item.linktext}}</a></p>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    {% include back-to-top.html %}

    <div class="ds_page_bottom">
        {% include footer.html %}
    </div>
</div>

</body>

</html>
