<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body class="layout--home">

<style>
body {
    background-color: #f8f8f8;
}


.zebra:nth-child(2n-1) {
    background-color: #fff;
    border: 1px solid #ddd;
    border-width: 1px 0;
}

.zebra:first-of-type {
    border-top: 0;
}

.zebra {
    padding: 28px 0;
}
</style>

{% include skip-links.html %}

<div class="ds_page">

    <div class="ds_page__top">
        {% include notifications.html %}
        {% include site-header.html %}
    </div>

    <div class="ds_page__middle">
        {% include header.html %}

        <main id="main-content">

            <section id="welcome">
                <div class="dss_homepage-hero__container  ds_reversed">
                    <div class="ds_wrapper">
                        <div class="dss_homepage-hero">
                            <header class="dss_homepage-hero__header">
                                <h1 class="dss_homepage-hero__title">Design and build digital services for the Scottish Government</h1>
                            </header>
                            <div class="dss_homepage-hero__summary">
                                <p>The design system enables you to use our styles, components and patterns. Things you need to make consistent, usable services that put people first.</p>

                                <div class="dss_homepage-hero__cta">
                                    <a href="#" class="ds_button  ds_button--fixed">Learn more</a>
                                </div>
                            </div>
                            <div class="dss_homepage-hero__media-container  ds_aspect-box">
                                <video class="dss_homepage-hero__media  ds_aspect-box__inner" src="/assets/images/examples/category-header-design-standards.svg" alt=""></video>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            {% if page.sortfield %}
                {% assign indexed = site.pages | where:"category", page.navitems | sort: page.sortfield, "first" %}
            {% else %}
                {% assign indexed = site.pages | where:"category", page.navitems | sort: 'title', "first" %}
            {% endif %}

            {%if indexed.size > 0 %}
                <section id="library" class="zebra">
                    <div class="ds_wrapper">
                        <div class="ds_category-list-container">
                            <ol class="main  ds_category-list  ds_category-list--grid  ds_category-list--narrow">

                                {% if page.sortfield %}
                                    {% assign indexed = site.pages | where:"category", page.navitems | sort: page.sortfield, "first" %}
                                {% else %}
                                    {% assign indexed = site.pages | where:"category", page.navitems | sort: 'title', "first" %}
                                {% endif %}

                                {% for item in indexed %}
                                    <li class="ds_card  ds_card--has-hover  ds_card--no-padding">
                                        <article class="ds_category-item">
                                            <h2 class="ds_category-item__title">
                                                <a data-navigation="category-item-{{forloop.index}}" href="{{ item.url }}" class="ds_category-item__link">
                                                    {{item.title}}
                                                </a>
                                            </h2>

                                            {% if item.summary %}
                                                <p class="ds_category-item__summary">
                                                    {{ item.summary }}
                                                </p>
                                            {% endif %}
                                        </article>
                                    </li>
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                </section>
            {% endif %}

            {% assign indexed = site.pages | where:"showcase", 'true' | sort: 'title', 'first' %}
            {%if indexed.size > 0 %}
                <section id="showcase" class="zebra">
                    <div class="ds_wrapper">
                        <h1>Pattern showcase</h1>

                        <div class="showcase">

                            {% for component in indexed %}
                            <div class="showcase__item">
                                <h2 class="gamma"><a href="{{component.url}}">{{component.title}}</a></h2>

                                {% assign indexed = site.pages | where:"parent", component.thispage %}
                                {% for subpage in indexed %}
                                    {% if subpage.type == 'example' %}
                                        <iframe src="components/{{component.thispage | replace: 'component.', ''}}/example.html" class="showcase__iframe" onload="resizeIframe(this)" style="height: 217px;"></iframe>
                                    {% endif %}
                                {% endfor %}

                                <p>{{component.summary}}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>
            {% endif %}
        </main>
    </div>

    <div class="ds_page_bottom">
        {% include footer.html %}
    </div>
</div>

</body>

</html>
