// body.layout--tiles {
//     background-color: $colour__grey--lighter;
// }

// .header-wrapper {
//     background-color: $colour__white;
//     border-bottom: 1px solid $colour__grey--light;
// }

/*------------------------------------*\
    PAGE SETUP
    anchor footer to bottom of the viewport on short pages
    dev note: this might be pattern library material
\*------------------------------------*/

html {
    min-height: 100%;
    position: relative;
}

.#{$pl-prefix}page {
    min-height: calc(100vh - 350px);
    margin-bottom: 350px;
}

.#{$pl-prefix}site-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

@supports (display: grid) {
    .#{$pl-prefix}page {
        display: grid;
        margin-bottom: 0;
        min-height: 100vh;
        grid-template-rows: auto 1fr auto; // top, middle, bottom (head, content, footer)
    }

    .#{$pl-prefix}site-footer {
        position: static;
    }
}

/*------------------------------------*\
    CATEGORY PAGE LAYOUT
\*------------------------------------*/

.#{$pl-prefix}page__middle {
    display: grid;
    grid-template-rows: auto 1fr;
    position: relative;
}

.category-lower {
    padding-bottom: 70px;
    background: $colour__grey--lighter;
    border-top: 1px solid $colour__grey--light;
}
