body.layout--tiles {
    background-color: $color__grey--lighter;
}

.header-wrapper {
    background-color: $color__white;
    border-bottom: 1px solid $color__grey--light;
}

/* hacky experiment: controls backround colors of the header, footer, and tiles' areas better when grid is supported */
@supports (display: grid) {
    body,
    html {
        height: 100%;
        margin-bottom: 0 !important;
    }

    body {
        display: grid;
        grid-template-rows: auto auto 1fr auto; // notifications, header, body, footer
        min-height: 100%;
    }

    .site-footer {
        position: static !important;
        align-self: end;
    }

    .body-wrapper {
        background-color: #ffffff;
        padding-bottom: 70px;
    }

    body.layout--tiles .body-wrapper {
        background-color: $color__grey--lighter;
    }
}
