pre {
    overflow: visible;
}

pre > code {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
    background-color: $colour__grey--lighter !important;
    display: block;
    font-size: $small-size;
    padding: 4px 8px;
}
