figure {
    @include ds_responsive-margin(4, top, false, -1px);
    @include ds_responsive-margin(4, bottom, false, -1px);

    border: 1px solid $ds_colour__border;

    > img {
        display: block;
    }
}

figcaption {
    @include ds_small-size--fixed;
    @include ds_responsive-padding(1, top);
    @include ds_responsive-padding(1, bottom);
    @include ds_responsive-padding(2, left);
    @include ds_responsive-padding(2, right);
    background-color: $ds_colour__grey--lighter;
}
