figure {
    @include block-margins;

    border: 1px solid $ds_colour__border;

    > img {
        display: block;
    }
}

figcaption {
    background-color: $ds_colour__grey--lighter;
    font-size: $small-size;
    line-height: 24px;
    padding: 8px 16px;
}
