/*------------------------------------*\
    SITE PAGE LAYOUTS
\*------------------------------------*/

.ds_layout {

    // To be included in PL
    &__content,
    &__partner {
        img {
            height: auto;
            max-width: 100%;
        }
    }

    &--pl-component {
        > .ds_layout {
            @include media-query(medium) {
                &__header {
                    float: left;
                    @include colwidth(8);
                }

                &__content {
                    float: left;
                    @include colwidth(7);
                }

                &__sidebar {
                    clear: left;
                    float: left;
                    @include colwidth(3);
                }
            }
        }
    }

    &--pl-article {
        > .ds_layout {
            &__header {
                float: left;
                @include colwidth(8);
            }

            &__content {
                float: left;
                @include colwidth(7);
            }

            &__sidebar {
                clear: left;
                float: left;
                @include colwidth(3);
            }
        }
    }
}

@supports(display: grid) {
    .ds_layout {
        &--pl-component {
            grid-template-areas:
                'h h'
                's s'
                'c c';
        }
    }

    .ds_layout {
        &--pl-article {
            grid-template-areas:
                'h h'
                's s'
                'c c';
        }
    }

    @include media-query(small) {
        .ds_layout {
            &--pl-component {
                grid-template-areas:
                    'h h h h h h'
                    's s s s s s'
                    'c c c c c c';
            }
        }

        .ds_layout {
            &--pl-article {
                grid-template-areas:
                    'h h h h h h'
                    's s s s s s'
                    'c c c c c c';
            }
        }
    }

    @include media-query(medium) {
        .ds_layout {
            &--pl-component {
                grid-template-areas:
                    's s s s h h h h h h h h'
                    's s s s c c c c c c c c';
            }
        }

        .ds_layout {
            &--pl-article {
                grid-template-areas:
                    's s s s h h h h h h h h'
                    's s s s c c c c c c c c';
            }
        }
    }

    @include media-query(large) {
        .ds_layout {
            &--pl-component {
                grid-template-areas:
                    's s s h h h h h h h . .'
                    's s s c c c c c c c . .';
            }

            &--pl-article {
                grid-template-areas:
                    's s s h h h h h h h . .'
                    's s s c c c c c c c . .';
            }
        }
    }
}
