/*------------------------------------*\
    #EXAMPLE
\*------------------------------------*/




$example__border-colour: $ds_colour__border !default;
$example__highlight-colour: $ds_colour__link--current__background !default;

.example {
    @include block-margins;
}

.example__iframe {
    border: 0;
    display: block;
    width: 100%;
}

.example__pre {
    background-color: $example__highlight-colour;
    margin-bottom: 0;
}

.example__code {
    background-color: transparent;
    border: 0;
    font-size: 0.85em;
    line-height: 1.25;
    // overflow: scroll;
    // white-space: pre;
    width: 100%;
}

example__accordion-body--code figure {
    border: 0;
}

.example__illustration {
    display: block;
}

.example__link {
    @include blocklink;

    background-color: $ds_colour__grey--lighter;

    display: inline-block;
    font-size: $small-size;
    line-height: calc(24/#{strip-unit($small-size)});
    padding: 4px 16px;
    position: absolute;

    @include ds_media-query(medium) {
        line-height: calc(32/#{strip-unit($small-size)});
    }
}

.example__accordion {
    margin-bottom: 0;
    margin-top: 0;
}

.example__accordion-body--code {
    padding: 0 !important;

    figure {
        border: 0;
        margin: 0;
    }
}
