/*------------------------------------*\
    #SITE FOOTER
\*------------------------------------*/


$footer-top-padding: 140px;

html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: 291px + $footer-top-padding;

  @include media-query(medium) {
    margin-bottom: 267px + $footer-top-padding;
  }

  @include media-query(large) {
    margin-bottom: 211px + $footer-top-padding;
  }

  &.home {
    $footer-top-padding: 48px;

    margin-bottom: 291px + $footer-top-padding;

    @include media-query(medium) {
      margin-bottom: 267px + $footer-top-padding;
    }

    @include media-query(large) {
      margin-bottom: 211px + $footer-top-padding;
    }
  }
}

.footer {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
}



.site-footer {
    background: $color__blue--darker;
    color: $color__white;
    padding-bottom: 35px;

    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    transform:translateZ(1px);

    a {
      color: $color__white;
    }

    &__gov-logo {
        display: block;
        height: 0;
        padding-top: 23px;
        position: relative;
        width: 125px;

        svg {
            left: 0;
            position: absolute;
            top: 0;
        }
    }

    &__summary {
        font-size: 14px;
        margin-bottom: 35px;
    }
}

.site-items {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  list-style-type: none;
  margin: 0 0 21px;
  padding-bottom: 21px;
  padding-top: 21px;

  &__item {
    display: inline;
    padding: 0 1em 0 0;
  }

  &__link {
    font-weight: $bold;
    white-space: nowrap;
    font-size: 13px;
  }
}

@include media-query(medium) {
    .site-footer {
        &__gov-logo {
            float: right;
            padding-top: 30px;
            width: 165px;
        }

        &__summary {
          font-size: 16px;
          line-height: 21px;
        }
    }

    .site-items {
        &__link {
            white-space: normal;
        }
    }
}

@include media-query(large) {

}
