.#{$dss-prefix}homepage-hero {
    margin: 24px 0 32px;

    &__container {
        background-color: $colour__brand--primary;
    }

    &__cta {
        .#{$pl-prefix}button {
            font-weight: bold;
        }

        :first-child {
            margin-top: 0;
        }

        :last-child {
            margin-bottom: 0;
        }
    }

    &__header {
        border-left: 0;
        margin-bottom: 32px;
        padding-left: 0;

        :last-child {
            margin-bottom: 0;
        }
    }

    &__title {
        font-weight: $bold;
    }

    &__summary {
        font-weight: $normal;
        font-size: 1rem;
        line-height: 32px;
        margin-bottom: 32px;
        padding-right: 32px;
    }

    &__media {
        display: block;
        margin: 0;
        max-width: unset;
        width: 100%;
    }

    @include layout();
}

@include media-query(medium) {
    .#{$dss-prefix}homepage-hero {
        &__header {
            float: left;
            @include colwidth(12);
        }

        &__media-container {
            float: left;
            @include colwidth(6);
        }

        &__summary {
            float: left;
            @include colwidth(6);
        }
    }
}

@include media-query(large) {
    .#{$dss-prefix}homepage-hero {
        &__media-container {
            float: left;
            @include colwidth(4);
        }

        &__summary {
            float: left;
            @include colwidth(8);
        }
    }
}

@supports(display: grid) {
    .#{$dss-prefix}homepage-hero {
        align-items: center;
        grid-gap: $grid-gap-y 8px;
        margin: 32px 0 36px;

        &__header,
        &__summary {
            margin-bottom: 0;
        }
    }

    @include media-query(medium) {
        .#{$dss-prefix}homepage-hero {
            grid-template-columns: repeat(12, 1fr);
            grid-template-areas:
                'h h h h h h h h h h h h'
                's s s s s s m m m m m m';

            &__header {
                float: none;
                grid-area: h;
            }

            &__media-container {
                float: none;
                margin-right: 0;
                max-width: 100%;

                grid-area: m;
            }

            &__summary {
                float: none;
                grid-area: s;
            }
        }
    }

    @include media-query(large) {
        .#{$dss-prefix}homepage-hero {
            grid-template-columns: repeat(12, 1fr);
            grid-template-areas:
                'h h h h h h h h m m m m'
                's s s s s s s s m m m m';
        }
    }
}


.#{$dss-prefix}homepage-hero__container.ds_reversed {
    color: white;
}
