/*------------------------------------*\
    #SUB BANNER
\*------------------------------------*/




.sub-banner {
    background-color: $colour__blue--dark;
}

.sub-banner__content {
    display: flex;
    justify-content: space-between;
    margin: 0 -10px;
}

.sub-banner__link {
    color: #fff;
    display: inline-block;
    height: 49px;
    line-height: 49px;
    padding: 0 10px;
    text-decoration: none;
}

.sub-banner__link:hover,
.sub-banner__link:focus {
    background-color: #002d54;
    color: #fff;
}

.sub-banner__link:active {
    background-color: #000;
    color: #d9effc;
    outline-width: 0;
}

.sub-banner__link--right {
    margin-right: 0;
}

.link--progress {
    padding-right: 49px;
    position: relative;

    &:after {
        @include chevron(right);
        right: 23px;
        position: absolute;
        top: 18px;
    }
}
