/*------------------------------------*\
    #CASE STUDY
    homepage
\*------------------------------------*/




.case-studies {
    display: grid;
    grid-gap: $grid-gap;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.case-study {
    display: grid;
    grid-gap: $grid-gap;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.case-study__image {
    background-color: #ddd;
    width: 100%;
    height: 147px;
}

.case-study__button {
    display: block;
    margin-top: 0;
    width: auto;
    max-width: 75%;
}
