/*------------------------------------*\
    #EXAMPLE
\*------------------------------------*/




$example__border-colour: $colour__border !default;
$example__highlight-colour: $colour__link--current__background !default;

.example {
    @include block-margins;
}

.example__caption {
    font-size: 0.75em;
    font-weight: 500;
    margin-top: 28px;
}

.example__iframe {
    border: 0;
    display: block;
    width: 100%;
}

.example__content {
    border: 1px solid $example__border-colour;
    box-shadow: 7px 7px $example__border-colour;
}

.example__pre {
    background-color: $example__highlight-colour;
    margin-bottom: 0;
}

.example__code {
    background-color: transparent;
    border: 0;
    font-size: 0.85em;
    line-height: 1.25;
    // overflow: scroll;
    // white-space: pre;
    width: 100%;
}

.example__link {
    @include blocklink;

    background-color: $colour__grey--lighter;

    display: inline-block;
    font-size: $small-size;
    padding: 3px 15px 4px;
    position: absolute;
    text-decoration: none;
}

.example__accordion {
    margin-bottom: 0;
    margin-top: 0;
}

.example__accordion-body--code {
    padding: 0 !important;
}

.highlighter-rouge {
    background-color: $example__highlight-colour;
    font-size: 0.8em;
    margin: 0 0.125em;
    outline: 3px solid $example__highlight-colour;
}

.example .hljs {
    background-color: transparent !important;
    padding: 14px 15px;
}
